.App {
  text-align: center;
}

.App-header {
  margin-left : auto;
  margin-right:auto;
  background-color: #282c34;
  height: 50px;
  width: 250px;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


table {
  margin-left : auto;
  margin-right:auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
